@charset "utf-8";

/* Para 600px */  
@media only screen and (max-width: 600px)  { 
/* Section 01 - s01rl */

.s01rl {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-rows: minmax(40vh, 300px) minmax(50vh, 54vh) 95vh  152vh 285vh 55vh 12vh 1px;
	grid-template-columns: 16.5% 1fr 16.5%;
	grid-template-areas:"row01-s01rl row01-s01rl row01-s01rl" 
						"smile-s01rl medio-s01rl message-s01rl"
						"row01-s02rl row01-s02rl row01-s02rl"
						"section-s03rl section-s03rl section-s03rl"
						"section-s04rl section-s04rl section-s04rl"
						"section-s05rl section-s05rl section-s05rl"
						"section-s06rl section-s06rl section-s06rl";
    overflow: hidden;
	margin-top: 50px;
	grid-auto-rows: 0px;

	
}
.row01-s01rl {
	background-image: url("../img/lunch/textura-mob.png");
    background-position: top;
    background-size: cover;
	background-repeat: no-repeat;
	margin:0
	
}
.title-s01rl{
	margin-top: 50px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8em;
	line-height: 1.2em;
}
.txt-s01rl{
    margin-top: 3%;
	width: 89%;
    font-size: 0.9em;
}
.cont-cta-s01rl .cta{
	margin-top: 3%;
    width: 89%;
	min-width: 200px;
	font-size: 1em;
}
	.cont-cta-s01rl img {
	width: 15px;
	margin-top: -5px;
	
}
p.scroll-s01rl {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
    font-size: 1em;
    margin-bottom: 20% !important;
	width: 110%;
}	
.medio-s01rl img {
	width: 40%;
	min-width: 700px;
}
.medio-s01rl {
	grid-area: medio-s01rl;
	/*margin-top: 5%;*/
    width: 67vw;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Section 02 - s02rl */
.row01-s02rl .swiper-container {
	margin-top: 0;		
}
.bg-slide01-s02rl {
	background-size: cover;
	background-image: url("../img/lunch/una-nueva-forma-de-descubrir-royal-prestige-mob.png");
    background-position: top;
    background-repeat: no-repeat;
	margin: 0;
	height: 80vh;
	
}
.cont-slide-s02rl p.texto1-s02rl {
	margin-top: 13vh;
	font-size: 1.1em;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 4vh !important;
}
.cont-slide-s02rl p.texto2-s02rl {
	font-size: 1.8em;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin-bottom: 4vh !important;
}
.cont-slide-s02rl p.texto3-s02rl {
	font-size: 0.9em;
	font-family: 'Asap', sans-serif;
	font-weight: normal;
}
/*SWIPER VERTICAL*/
.swiper-pagination {
    margin-right: 4vw;
	margin-top: 50vh;
}
.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px !important;
    top: 0 !important;
}
#plato2 {
	position: fixed;
	top: calc(100vh - 35vh);
	z-index: 2;
	text-align: center;
	display: flex;
	justify-content: center;
}
#plato2 img {
	height: 46vh;
	width: auto;
	/* min-width: 375px; */
}

/* Section 03 - s03rl */	
.section-s03rl {
	grid-area: section-s03rl;
	height: 150vh;
	width: 100%;
	display: grid;
    justify-content: center;
    align-items: flex-start;
	grid-gap: 0;
	/*grid-template-columns: 1fr;*/
    grid-template-rows: 28vh 19vh 22vh 19vh 22vh 19vh 22vh;
	grid-template-columns: 3.8vh 1fr 3.8vh;
	grid-template-areas:"row01-s03rl row01-s03rl row01-s03rl"
						". logo1-s03rl ."
						". col01-row02-s03rl ."
						". logo2-s03rl ."
						". col02-row02-s03rl ."
						". logo3-s03rl ."
						". col03-row02-s03rl .";
    overflow: hidden;
	background-image: url("../img/lunch/textura-mob.png");
    background-position: top;
    background-size: contain;
	background-repeat: no-repeat;
}
.row01-s03rl {
	
}
.section-s03rl p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #191919;
	font-size: 1.4em;
}
.cont-info-s03rl p.texto1-s03rl {
	color: rgba(97, 102, 113, 1);
	margin-top: 8vh;
	font-size: 1.15em;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 4vh !important;
	width: 90vw;
	
}
.cont-info-s03rl p.texto2-s03rl {
	color: #002270;
	font-size: 1.9em;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin-bottom: 4vh !important;
	
}
.logos-s03rl1 {
	margin-bottom: 4vh;
}
.logo1-s03rl  img {width:40%;}
.logo2-s03rl  img {width:35%;}
.logo3-s03rl  img {width:35%;}
	
	


/* Section 04 - s04rl */
.section-s04rl {
	grid-area: section-s04rl;
	height: 285vh;
	width: 100%;
	display: grid;
    justify-content: center;
    /*align-items: flex-start;*/
	grid-gap: 15px 0;
	/*grid-template-columns: 1fr;*/
    grid-template-rows: 369px 372px 366px 369px 369px 367px ;
	grid-template-columns: 3.8vh 1fr 3.8vh;
	grid-template-areas:". cont01-s04 ."
						". cont02-s04 ."
						". cont03-s04 ."
						". cont05-s04 ."
						". cont07-s04 ."
						". cont08-s04 .";

    overflow: hidden;
}
.cont-s04 {
	margin-bottom: 15px;
}
.cont01-s04, .cont05-s04 , .cont07-s04  {
	height: 369px;
}
.cont03-s04 {
	background-image: url("../img/lunch/img-referencia-3y4.png");
}
.section-s04rl p.texto1-s04rl {
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	width: 89%;
	line-height: 1.8em;
}
.section-s04rl p.texto2-s04rl {
	font-family: 'Asap', sans-serif;
	font-size: 1.3em;
	width: 89%;
	
}
/* Section 05 - s05rl */
.title-s05rl {
	margin-top: 5vh;
    width: 89%;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.6em;
	line-height: 1.4em;

}
.txt-s05rl {
    margin-top: 4vh;
    width: 89%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.1em;

}
.cont-cta-s05rl {
    width: 100vw;
	margin-top: 5vh;
	
}

.cont-cta-s05rl .cta{
	
    width: 89%;
	margin: 0 auto;
	min-width: 200px;
	font-size: 1em;
}
.cont-cta-s05rl img {
	width: 15px;
	margin-top: -5px;
	
}
/*SECTION06-S06*/
.section-s06rl {
	grid-area: section-s06rl;
	display: flex;
    justify-content:flex-end;
    align-items: flex-start;
	margin-top: 2%;
	margin-right: 3vh;
	overflow: visible;
	
}
.arrow-up img {
	width: 10vh;
	min-width: 60px;
	overflow: visible;
}
	
	
	
}